<?xml version="1.0" encoding="UTF-8"?>
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/gym_keeper</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.passwd"></property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.hbm2ddl.auto">update</property>
        <mapping class="Gym_keeper.entitiy.DaoUser" />
        <mapping class="Gym_keeper.entitiy.Exercise" />
        <mapping class="Gym_keeper.entitiy.Serie" />
        <mapping class="Gym_keeper.entitiy.Training" />
        <mapping class="Gym_keeper.entitiy.User_data" />


    </session-factory>
</hibernate-configuration>